<!DOCTYPE html>
<html lang="en">

    <%- include('partials/Head'); %>

<body>


    <div class="ChatHubMessagesContainer">


        <%- include('./partials/Sidebar'); %>

        <%- include('./partials/MessagesList'); %>
        
        <%- include('./partials/Messages'); %>

        <%- include('./partials/Profile'); %>


        <%- include('./partials/modal/Logout'); %>


    </div>

    

    
</body>
<script src="/scripts/Interactive/LogoutModal.js"></script>

<script src="/scripts/Request/post/SendMessage.js"></script>

<script src="/scripts/Request/get/RenderMessageList.js"></script>

</html>