<!DOCTYPE html>
<html lang="en">

    <%- include('partials/Head'); %>

<body>

    

    <div class="ChatHubFriendsContainer">

        <%- include('../Messages/partials/Sidebar'); %>

        <%- include('partials/FriendsList'); %>

        <%- include('partials/FriendsProfile'); %>


        <%- include('../Messages/partials/modal/Logout'); %>

        


    </div>

    

    
</body>

<script src="/scripts/Interactive/FriendsCategoryBtn.js" ></script>

<script src="/scripts/Interactive/LogoutModal.js"></script>


<script src="/scripts/Request/get/FriendsList.js"></script>

<script src="/scripts/Request/get/SearchFriend.js"></script>

<script src="/scripts/Request/get/FriendProfile.js"></script>

<script src="/scripts/Request/post/AddFriend.js"></script>


</html>

