<!DOCTYPE html>
<html lang="en">
 
<%- include('partials/Head'); %>

<body>
    <%- include('partials/Navbar'); %>

    <%- include('partials/Introduction'); %>

    <%- include('partials/Feature'); %>

    <%- include('partials/ContactUs'); %>

    <%- include('partials/Footer'); %>



    
</body>
</html>